.App-members-gallery {
  text-align: center;
}

.App-member {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-top: 100%;
  margin: auto;
  overflow: hidden;
}
.App-member > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 99%;
}

@media (min-width: 576px) {
  .App-member {
    width: 50%;
    padding-top: 50%;
  }
}

@media (min-width: 768px) {
  .App-member {
    width: 25%;
    padding-top: 25%;
  }
}
